.navbar {
    background: white;
    .navbar-brand {
        width: $drawer-closed-width;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background: $primary;
        color: white;
        z-index: 1;
        @media screen and (max-width: 767px) {
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
        }
    }
    .navbar-brand-logo {
        width: 100%;
        height: 100%;
        width: 260px;
        display: none !important;
        align-items: center;
        justify-content: center;
        &.mini {
            width: 80px;
            display: flex !important;
        }
    }
    .nav-item, .nav-link {
        height: 100%;
        display: flex;
        align-items: center;
        .avatar {
            width: 32px;
        }
    }
    .popover-region {
        height: 100%;
        margin: 0;
        .popover-region-toggle {
            width: auto !important;
            padding: .5rem 1rem;
            &:focus {
                margin: 0 !important;
                outline: none;
            }
            &::before, &::after {
                display: none !important;
            }
            .icon {
                margin-right: 0px;
            }
        }
        @include media-breakpoint-down(xs) {
            [data-region="popover-region-container"] {
                position: fixed;
                top: 66px;
                left: 0;
                right: 0;
                width: 100%;
            }
            .nav-link {
                padding: .5rem !important;
            }
        }
    }
    .dropdown-toggle, .userbutton {
        display: flex;
        align-items: center;
    }
    .wdm-custom-menus {
        white-space: nowrap;
        width: 40%;
        @media screen and (max-width: 900px) {
            width: auto;
            max-width: 30%;
        }
        > .overflowing:not(.wdm-ofdd) {
            display: none;
        }
        &:not(.overflowed) {
            .wdm-ofdd {
                display: none;
            }
        }
        .wdm-ofdd {
            .dropdown {
                .dropdown-toggle, .dropdown-item {
                    color: #526069 !important;
                }
            }
            >.dropdown-toggle{
                &::after {
                    display: none;
                }
            }
        }
        .ofdropdownmenu {
            overflow: initial !important;
        }
        .overflowing {
            .dropdown-toggle {
                &:hover {
                    +.dropdown-menu  {
                        visibility: visible;
                    }
                }
            }
            .dropdown-menu {
                position: absolute;
                left: 102%;
                top: 0;
                display: block;
                visibility: hidden;
                &:hover {
                    visibility: visible;
                }
            }
        }
    }
    #toggleFullscreen {
        svg {
            width: 16px;;
            margin: 0;
            &:first-child {
                display: block;
            }
            &:last-child {
                display: none;
            }
        }
        &.collapse {
            svg {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        background: $primary;
        span.username, #toggleFullscreen {
            display: none;
        }
        .navbar-brand {
            width: auto !important;
        }
        .icon {
            color: white !important;
        }
    }
    &.nav-inverse {
        background: $primary;
        .nav-item {
            &:hover {
                background-color: rgba(0, 0, 0, .1) !important;
            }
        }
        .nav-link, .fa, .dropdown-toggle, .usermenu, .login a, .dropdown {
            color: white !important;
            border-radius: 0 !important;
            &:hover {
                color: white !important;
            }
        }
        .dropdown-menu {
            .fa {
                color: #526069 !important;
            }
        }
        div[data-region="drawer-toggle"] {
            button {
                &:hover {
                    background-color: rgba(0,0,0,.1) !important;
                }
            }
        }
    }
    div[data-region="drawer-toggle"] {
        button {
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .loginddown {
        width: 350px;
        @media screen and (max-width: 480px) {
           position: fixed !important;
           left: 0 !important;
           right: 0 !important;
           top: 120px;
           width: 100%;
        }

    }
    div[data-region="popover-region-container"] {
        &.dropdown-menu {
            display: block;
            transform: scale(0);
            transition: all 250ms ease-in-out;
            transform-origin: 100% 0;
            opacity: 0;
            &.show {
                transition: all 250ms ease-in-out;
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

.navbar-light {
    .nav-link {
        color: rgba(0,0,0,.6)!important;
    }
    @media screen and (max-width: 480px) {
        .navbar-nav .nav-link, .nav-link {
            color: white !important;
        }
    }
}

body {
    &.drawer-open-left {
        .navbar-brand {
            width: $drawer-width;
        }
        div[data-region="drawer-toggle"] {
            left: $drawer-width;
            button {
                &:focus {
                    box-shadow: none !important;
                }
            }
        }
        .navbar-brand-logo {
            @media screen and (min-width: 768px) {
                display: flex !important;
                &.mini {
                    display: none !important;
                }
            }
        }
    }
}

body.notloggedin {
    @media screen and (max-width: 480px) {
        .navbar-nav.right-menu {
            position: absolute;
            top: 99%;
            background: $primary;
            right: 0;
            margin-right: 0 !important;
            width: 100%;
            justify-content: center;
            display: none;
            &.show {
                display: flex;
            }
        }
        .navbar-toggler {
            display: block;
            height: 60px;
            margin-left: auto;
            border: 0;
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }
}
