{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}

    <div class="page-brand-info">
        <div class="brand">
            <img class="brand-img" src="{{logourl}}" alt="...">
            <h2 class="brand-text font-size-40">{{{ sitename }}}</h2>
        </div>
        <p class="font-size-20">{{#str}}createaccount, theme_remui{{/str}}</p>
    </div>

    
    <div class="page-login-main animation-slide-right animation-duration-1">
        <div class="brand hidden-md-up">
            {{#logourl}}
                <img src="{{logourl}}" class="brand-img" title="{{sitename}}" alt="{{sitename}}"/>
            {{/logourl}}
            <h3 class="brand-text font-size-24">{{{ sitename }}}</h3>
        </div>

        <!-- <h3 class="font-size-24">{{#str}}newaccount{{/str}}</h3> -->
        <h3 class="font-size-24">{{#str}}signup, theme_remui{{/str}}</h3>

        {{{formhtml}}}

        <!-- <footer class="page-copyright">
            <p>{{#str}}followus, theme_remui{{/str}}</p>
            <div class="social">
            <a class="btn btn-icon btn-round social-twitter mx-5" href="javascript:void(0)">
                <i class="icon bd-twitter" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-round social-facebook mx-5" href="javascript:void(0)">
                <i class="icon bd-facebook" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-round social-google-plus mx-5" href="javascript:void(0)">
                <i class="icon bd-google-plus" aria-hidden="true"></i>
            </a>
            </div>
        </footer> -->
        <footer class="page-copyright">
            {{# loginsocial_context }}
            {{# social }}
            <p>{{# str }} followus, theme_remui {{/ str }}</p>
            <div class="social">
                {{# facebook }}
                    <a href="{{ facebook }}" class="btn btn-icon btn-round social-facebook m-5"><i class="icon fa-facebook" aria-hidden="true"></i></a>
                {{/ facebook }}
                {{# twitter }}
                    <a href="{{ twitter }}" class="btn btn-icon btn-round social-twitter m-5"><i class="icon fa-twitter" aria-hidden="true"></i></a>
                {{/ twitter }}
                {{# linkedin }}
                    <a href="{{ linkedin }}" class="btn btn-icon btn-round social-linkedin m-5"><i class="icon fa-linkedin" aria-hidden="true"></i></a>
                {{/ linkedin }}
                {{# gplus }}
                    <a href="{{ gplus }}" class="btn btn-icon btn-round social-google-plus m-5"><i class="icon fa-google-plus" aria-hidden="true"></i></a>
                {{/ gplus }}
                {{# instagram }}
                    <a href="{{ instagram }}" class="btn btn-icon btn-round social-instagram m-5"><i class="icon fa-instagram" aria-hidden="true"></i></a>
                {{/ instagram }}
                {{# youtube }}
                    <a href="{{ youtube }}" class="btn btn-icon btn-round social-youtube m-5"><i class="icon fa-youtube" aria-hidden="true"></i></a>
                {{/ youtube }}
                {{# pinterest }}
                    <a href="{{ pinterest }}" class="btn btn-icon btn-round social-pinterest m-5"><i class="icon fa-pinterest" aria-hidden="true"></i></a>
                {{/ pinterest }}
            </div>
            {{/ social }}
            {{/ loginsocial_context }}
        </footer>
    </div>
    