
{{#liveeditorlink}}{{{liveeditorlink}}}{{/liveeditorlink}}
<div class="block-content">
{{#blockcss}}<style type="text/css">{{{blockcss}}}</style>{{/blockcss}}
{{#blockstyle}}<link href="{{blockstyle}}" rel="stylesheet"></link>{{/blockstyle}}

{{{blockhtml}}}

{{! Script to Inject another script into html }}
<script type='text/javascript' id='block-script'>{{{blockjs}}}</script>
</div>
