{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    Edwiser RemUI 
    @package    theme_remui
    @copyright  (c) 2018 WisdmLabs (https://wisdmlabs.com/)
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 
}}
<div class="forumsearch">
    <form action="{{actionurl}}" class="form-inline">
        <input type="hidden" name="id" value="{{courseid}}">
        <div class="form-group">
            {{#helpicon}}
                {{>core/help_icon}}
            {{/helpicon}}
            <label class="sr-only" for="search">{{#str}}search, forum{{/str}}</label>
            <input id="search" name="search" placeholder="{{#str}}searchforums, mod_forum{{/str}}" type="text" class="form-control w-100 w-lg-150 m-0 d-inline" value="{{query}}">
            <button class="btn btn-inverse d-inline font-weight-bold" style="cursor:pointer;color: #1c2025;border: 1px solid #e4eaec;margin-top: -1px;margin-left: -2px;" id="searchforums" type="submit">↵</button>
        </div>
    </form>
</div>
