<div class="row">
    {{#sectiondata}}
        <section {{#editing}}id="{{id}}"{{/editing}}  {{#classes}}class="{{classes}}"{{/classes}}>
            {{#content}}
                <div class="panel panel-bordered {{classes}}" id="{{id}}">
                    <div class="panel-heading {{#dragable}}drag{{/dragable}}">
                        <h4 class="p-20 m-0">{{blockname}}</h4>
                        {{#editing}}
                            <div class="panel-actions">
                            {{#dragable}}<a class="panel-action fa fa-arrows" aria-hidden="true"></a>{{/dragable}}
                            </div>
                        {{/editing}}
                    </div>
                    <div class="panel-body {{#dragable}}drag{{/dragable}} px-20 pb-20 pt-0">
                        {{{content}}}
                    </div>
                </div>
            {{/content}}
        </section>
    {{/sectiondata}}
</div>

{{#js}}
require(['jquery', 'block_remuiblck/jqueryui'], function(){
    const enableSortable = () => {
        $( "#sortable1, #sortable2, #sortable3" ).sortable({
            connectWith: ".connectedSortable",
            placeholder: "sort-highlight",
            forcePlaceholderSize: true,
            handle: ".drag",
            zIndex: 999999,
            stop:function(){

                var sortables   = ['#sortable1', '#sortable2', '#sortable3'];
                var nonempty = ['nonemptytop', 'nonemptyleft', 'nonemptyright'];
                var preferences = ['remui_layout_top', 'remui_layout_left', 'remui_layout_right'];

                for(var loop=0; loop < sortables.length; loop++){

                    var data = $(sortables[loop]).sortable('toArray');
                    var sortable = data.filter(function(blck) {
                        return blck !== nonempty[loop];
                    });

                    M.util.set_user_preference(preferences[loop], JSON.stringify(sortable));

                    if(sortable.length == 0)
                    {
                        $(sortables[loop]).addClass('blankheight');
                    }else{
                        $(sortables[loop]).removeClass('blankheight');
                    }

                }
            }
        }).disableSelection();
    };
    enableSortable();
});
{{/js}}
