{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="ml-auto">
    <button class="btn btn-link btn-icon icon-size-3 coursemenubtn" type="button" data-region="managecourses" aria-expanded="false" data-toolbar='#manage-course-{{id}}'>
        <i class="icon fa fa-ellipsis-{{#card}}v{{/card}}{{^card}}h{{/card}} fa-fw " aria-hidden="true" aria-label=""></i>
    </button>
    <div id="manage-course-{{id}}" class="hidden">
       <a href="{{enrollink}}{{id}}&version=5" class="btn btn-primary manage-course-menu" title="{{enroltitle}}">
            <i class="fa fa-users" aria-hidden="true"></i>
        </a>
        <a href="{{graderreportlink}}{{id}}" class="btn btn-primary manage-course-menu" title="{{graderreporttitle}}">
            <i class="fa fa-star" aria-hidden="true"></i>
        </a>
        <a href="{{activityreportlink}}{{id}}" class="btn btn-primary manage-course-menu" title="{{activityreporttitle}}">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
        </a>
        <a href="{{editcourselink}}{{id}}" class="btn btn-primary manage-course-menu" title="{{editcoursetitle}}">
            <i class="fa fa-edit" aria-hidden="true"></i>
        </a>
        <a href="#" class="btn btn-primary manage-course-menu remui-view-course-report" data-course-id="{{id}}" title="{{coursereporttitle}}">
            <i class="fa fa-table" aria-hidden="true"></i>
        </a>
    </div>
</div>
