<div class="sections-container">
    {{#sections}}
    <div class="section-{{section}} w-p100 my-20" data-section="{{section}}" title="{{title}}">
        <div class="m-auto">
            <h5>{{title}}</h5>
            <img src="{{imageurl}}" class="w-p100 h-auto">
        </div>
    </div>
    {{/sections}}
</div>
