<section data-instance="{{id}}" data-sectionname="{{sectionname}}" {{{sectionpropertiesoutput}}}>

    {{> local_remuihomepage/editmenu}}
    <div class="row m-0 text-center m-auto px-sm-0 {{sectioncontaineroutput}}">
        <hr style="{{css}}">
    </div>
</div>
</section>
