<div class="form-item row" id="{{id}}">
    <div class="form-label col-sm-3 text-sm-right">
    </div>
    <div class="form-setting col-sm-9">
        {{#error}}
            <div><span class="error">{{error}}</span></div>
        {{/error}}
        <a class="btn btn-primary" href="{{url}}">{{title}}</a>
        {{#default}}
            <div class="form-defaultinfo text-muted {{#forceltr}}text-ltr{{/forceltr}}">{{{default}}}</div>
        {{/default}}
        <div class="form-description mt-3">{{{description}}}</div>
        {{#dependenton}}<div class="form-dependenton mb-4 text-muted">{{{.}}}</div>{{/dependenton}}
    </div>
</div>
