{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_edwisersiteimporter/course_modal

    course modal template.

    Context variables required for this template:
    * file - file url
    * image - Screenshot image
    * name - Template name

    Example context (json):
    {
        "file" : "http://edwiser-demo-url.org/course_backup_file.mbz",
        "image" : "http://edwiser-demo.org/screenshot.jpg",
        "name" : "Edwiser Demo"
    }
}}
<div class="course-modal">
    {{! <div class="loader-wrapper bg-white">
        <div class="loader">
            <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
        </div>
    </div> }}
    <img src="{{image}}"/>
    <form method="post" target="_blank">
        <input type="hidden" name="file" value="{{file}}">
    </form>
</div>
{{#js}}
require(['jquery'], function($) {
    var root = '.course-modal';
    $(root).closest('.modal-dialog').addClass('modal-xl');
    $(root).find('iframe').on('load', function() {
        $(root).find('.loader-wrapper').hide();
    });
});
{{/js}}
