@charset "utf-8";
/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;    
    margin: 0;
    padding: 0;
    width: 100%;
}
.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}
body {
	color:#000;
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #FFF;
}
a:link, a:visited {
    color: #D29022;
    text-decoration: none;
}
a {
	color:#D29022;
}
a:hover {
	color:#6A4912;
	text-decoration:underline;
}
header, h1, h2, h3, h4 {
	color:#00334c;
}
h1 {
font-size: 1.4em; 
}

h2 {
font-size: 1.2em;
}

h3 {
font-size:1.1em; 
}
.logininfo {
margin-left: 60px;
margin-top: 5px;
font-size: .8em;
text-align: right;
}

.block .header .title h2, .block h3.main {
    color: #FCB816;
}

.bluestipe {
	height: 25px;
	width: 100%;
	background-color: #00334c;
}



/*
									NAVIGATION BAR
--------------------------------------------------------------------------------------*/

.navbar .brand {
    margin-left: 32px;
    margin-top: -25px;
    padding-left: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}
banner{
height: 30px;
}
.navbar-inner {
    background: none;
    color: #CCC;
    background-color: #f6f6f8;
	border:none;
	filter:none;
	height: 80px;

}
.navbar .nav {
	margin-left:5px;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
	padding: 0 17px;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
}
.nav-collapse.collapse{
	padding-top: 10px;
	margin-left:10px;
}
.navbar .nav>li>a {
    text-shadow: none;
	color: #00334c;	
}
.navbar .nav>li>a:hover {
    color: #c89028 ;
}
.navbar .nav>li>a:focus {
    color: #FFFFFF;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #00334c;
    color: #FFFFFF;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.navbar .btn-navbar {
	margin-top:25px;
}

.navbar .nav > li > .dropdown-menu:before {
    border-bottom:0px solid #00334c;
}
.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #00334c;
    top: -10px;
}

.course-content
{
margin-top: -35px;
}

.brand {
	background:none;
	height:90px;
	margin-top: -182px;

	margin-bottom: 10px;

}

				/*
													DROPDOWN MENU + SUBMENU
				--------------------------------------------------------------------------------------*/
				.dropdown-menu {
					background-clip: padding-box;
					background-color: #FFF;
					border: 0px solid rgba(0, 0, 0, 0.2);
					border-bottom:none;
					border-left:none;
					border-top:none;
					border-right:none;
					margin-top: 0px;
					-webkit-border-radius:0px!important;
					-moz-border-radius:0px!important;
					border-radius:6px!important;
					border-top-left-radius: 0px!important;
					
				}				
				.dropdown-menu > li > a {
					color:#00334c;
					font-size: 12px;
    				font-weight: bold;	
				}
				.dropdown-menu > li > a:hover, 
				.dropdown-menu li a:focus, 
				.dropdown-submenu:focus a{
					background: none;
					background-repeat:no-repeat;
					background-clip: padding-box;
					background-color: #1f2020;
					border: 0px solid rgba(0, 0, 0, 0.2);
					color:#c89028;
					filter:none;
				}	
				.dropdown-submenu > .dropdown-menu {
				    margin-left: 2px;
				    margin-top: -5px;
				}			
				.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
					background: none;
					background-repeat:no-repeat;
					filter:none;
					border:none;
					border: 0px solid rgba(0, 0, 0, 0.2); 
				}
				.open > .dropdown-menu {
					border: 1px solid #00334c;
				}				
				@media (max-width: 979px) {
					.nav-collapse .nav>li>a:hover, .nav-collapse .nav>li>a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
						background:none;
						filter:none;
						border:none;
						border: 0px solid rgba(0, 0, 0, 0.2); 
					}
				}
				
				@media (max-width: 979px) {
					.nav-collapse .nav>li>a:hover, .nav-collapse .nav>li>a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus, .nav-collapse .dropdown-submenu a:focus, .nav-collapse .dropdown-submenu a:hover, .nav-collapse .dropdown-submenu a:active, .nav-collapse .dropdown-menu>li>a:hover, .nav-collapse .dropdown-menu>li>a:focus {
						color: #c89028;
						filter:none;
						border:none;
						border: 0px solid rgba(0, 0, 0, 0.2); 
					}
					.nav-collapse.collapse{
						padding-top: 0px;
						margin-left: 0px;
					}
					.dropdown-menu {
						border: none!important;
					}

				}	
				
				@media (max-width: 767px) {
					.navbar .brand {    
						margin-left: 0px;
						padding: 0px 0px;
						text-shadow: 0 1px 0 #FFFFFF;
					}
				}

			
				

				@media (min-width: 1200px) {

					.navbar .nav {
						margin-top: 30px;
					}
					.navbar .brand {  
						margin-top: -25px;
					}
					.nav-collapse.collapse{
					}
				}

				.navbar-text {
					line-height: 0px;
					z-index: 99;
				}

/*------------------------------------------------------------------------------------*/
/* BREADCRUMB */

.breadcrumb {
	background:none;
	margin-top: -70px;
	margin-left: 60px;
	margin-bottom: 50px;
	padding: 0px;
	display: none;
}
.breadcrumb > li {
    text-shadow:none;
}
.breadcrumb-button {
margin-top: 40px;
}
/*------------------------------------------------------------------------------------*/
/* BLOCK */
.block {
	font-size: 13px;	
	background-color:#f6f6f8;
	border:none;
	padding:0px;
	-webkit-border-radius:0px!important;
	-moz-border-radius:0px!important;
	border-radius:0px!important;

	border-bottom-left-radius: 6px!important;
	border-bottom-right-radius: 6px!important;
}
.block .header .title h2, .block h3.main {
    text-shadow: none;
	background-color:#00334c;
	color:#F5F5F5;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.block a{
	color:#00334c;
	font-weight:normal;
}

.block a:hover {
	color: #c89028;
	text-decoration:none;
}
.block .header .block_action {
    padding-top: 2px;
}
hr {
    border-color: #838383;
}
.tree_item.branch {
    color: #00334c;	
}
.tree_item.branch :hover{
    color: #c89028;	
    text-decoration:none;
}

/*------------------------------------------------------------------------------------*/
/* MAIN REGION */
#page {
	margin-top: 50px;
}
@media (max-width: 979px) {
	#page {
		margin-top: -20px;
	}
}
#region-main {
	color: #000000 ;
	background-color: #FFF;
	padding:0px;
	-webkit-border-radius:0px!important;
	-moz-border-radius:0px!important;
	border-radius:0px!important;
}
#region-main h1,h2,h3,h4,h5,h6{
	color: #00334c ;
	
}
td {
	padding: 0px;
}

/*------------------------------------------------------------------------------------*/
/* FOOTER */

/*------------------------------------------------------------------------------------*/
/* COLUMNS*/
@media(max-width:767px) {
	.empty-region-side-post.used-region-side-pre #block-region-side-pre.span4 {
		width: 100%;
	}
	.empty-region-side-post.used-region-side-pre #region-main.span8 {
		width: 100%;
	}
	
	#region-main {
		padding:0px;
		padding-bottom:0px;
	}
}
/*------------------------------------------------------------------------------------*/
/* INPUT TEXT */
.forumsearch input{
    margin-bottom:auto;
	margin-left:10px;
}


/* PANEL */
.user-enroller-panel {
    z-index:10020;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
