
<div class="ratings-block-wrapper d-flex">
    {{#avgratingstat}}
    <div class="avg-rating-stat">
        <div class="avg-rating__wrapper d-flex flex-column justify-content-center align-items-center">
            <h2>{{averagerating}}</h2>
            <div>{{{averageratingstar}}}</div>
            <p>
                {{ratingcount}} {{#str}}courseratingtext,block_edwiserratingreview{{/str}}
            </p>
        </div>
        {{#reviewbtntext}}
        <div class="rating-part d-flex justify-content-center">
            <div class="writereview">
                <button type="button" class="btn btn-warning writereviewbtn">
                    {{reviewbtntext}}
                </button>
            </div>
        </div>
        {{/reviewbtntext}}
    </div>
    {{/avgratingstat}}

    <div class="avg-rating-progress">
        {{#ratingprogress}}
        <div class="progress-wrapper">
            <div class="progress ">
                <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
            </div>
            <div class="stars">
                {{{starsdesign}}}
            </div>
        </div>
        {{/ratingprogress}}
    </div>
</div>













