{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    </div>
    {{> theme_remui/footer }}
    
</div>
</body>
</html>
{{#js}}
    {{#enabledictionary}}
        {{^editingenabled}}
        require(['theme_remui/dictionary'], function(dictionary) {
            dictionary.init();
        });
        {{/editingenabled}}
    {{/enabledictionary}}
    
    {{#focusdata.enabled}}
        require(['theme_remui/course'], function(course){
            course.init({{focusdata.on}});
        });
    {{/focusdata.enabled}}

    require(['theme_remui/loader']);
    require(['theme_remui/drawer'], function(mod) {
        mod.init();
    });
{{/js}}
