
<div class="inner-container p-0 w-100 mb-4 intro-video">
	<iframe class="videoframe" src="{{courseintrovideo}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	</iframe>
</div>
