
<section class="inner_page_breadcrumb csv2">
  <div class="container">
    <div class="row">
      <div class="col-xl-9">
        <div class="breadcrumb_content">
          <div class="cs_row_one csv2">
            <div class="cs_ins_container">
              <div class="ccn-identify-course-intro">
                <div class="cs_instructor">
                  <ul class="cs_instrct_list float-left mb0">
                    <li class="list-inline-item">
                      <img class="thumb" src="http://demo.createdbycocoon.com/moodle/edumy/1/pluginfile.php/315/block_cocoon_course_intro/content/4.png" alt="4.png">
                    </li>
                    <li class="list-inline-item">
                      <a class="color-white" href="#">Ali Tufan
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="color-white" href="#">Last updated 29 December 2019
                      </a>
                    </li>
                  </ul>
                  <ul class="cs_watch_list float-right mb0">
                    <li class="list-inline-item">
                      <a class="color-white" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://demo.createdbycocoon.com/moodle/edumy/1/course/view.php?id=8">
                        <span class="flaticon-share"> Share
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
                <h3 class="cs_title color-white">Design Instruments for Communication
                </h3>
                <ul class="cs_review_seller">
                  <li class="list-inline-item">
                    <a href="#">
                      <span>Best Seller
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-star">
                    </i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-star">
                    </i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-star">
                    </i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-star">
                    </i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-star">
                    </i>
                  </li>
                </ul>
                <ul class="cs_review_enroll">
                  <li class="list-inline-item">
                    <a class="color-white" href="#">
                      <span class="flaticon-profile">
                      </span> 1 students enrolled
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="color-white" href="#">
                      <span class="flaticon-comment">
                      </span> 0 topics
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>