{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<!-- navbar-inverse -->
<nav class="site-navbar navbar navbar-default navbar-fixed-top moodle-has-zindex {{ navbarinverse }} {{# sitecolor }} bg-{{sitecolor}}-600 {{/ sitecolor }}" role="navigation">
    <div class="navbar-header d-flex justify-content-end">
      <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided mr-auto"
      data-toggle="menubar">
        <span class="sr-only">{{#str}}expand, core{{/str}}</span>
        <span class="hamburger-bar"></span>
      </button>
      
      <div class="navbar-brand navbar-brand-center p-0">
        {{# output.should_display_logo }}
          {{# isiconsitename }}
            <a class="text-white text-center d-block h-full" style="line-height:66px;" href="{{{ config.wwwroot }}}">
              <span class="navbar-brand-logo mini w-full h-full"><i class="fa fa-{{siteicon}}"></i></span>
              <span class="navbar-brand-logo w-full h-full">
                  <i class="fa fa-{{siteicon}}"></i>
                  {{{ sitename }}}
              </span>
            </a>
          {{/ isiconsitename }}
          
          {{# islogo }}
            <a class="text-white text-center d-block h-full" href="{{{ config.wwwroot }}}">
              <span class="navbar-brand-logo mini h-full w-full" style="background-image: url({{ logominiurl }});
                    background-position: center; background-size: contain; background-repeat: no-repeat;"></span>

              <span class="navbar-brand-logo h-full w-full" style="background-image: url({{ logourl }});
                    background-position: center; background-size: contain; background-repeat: no-repeat;">
              </span>
            </a>
          {{/ islogo }}
        {{/ output.should_display_logo }}
      </div>

      {{{ output.search_box_icon_collapsed }}}

      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon wb-more-horizontal" aria-hidden="true"></i>
      </button>

    </div>
    <div class="navbar-container container-fluid" style="-ms-flex:1 1 0%;">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="nav-item hidden-float" id="toggleMenubar">
            <a class="nav-link" data-toggle="menubar" data-toggle="menubardesktop" href="#" role="button">
              <i class="icon hamburger">
                  <span class="sr-only">{{#str}}expand, core{{/str}}</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <li class="nav-item hidden-sm-down" id="toggleFullscreen">
            <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
              <span class="sr-only">{{$str}}togglefullscreen, theme_remui{{/str}}</span>
            </a>
          </li>
       

          {{{ output.custom_menu }}}
          <li class="hideshow nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown" data-animation="scale-up">
              <i class="icon wb-more-horizontal"></i>
            </a>
            <ul class="hideshow-ul dropdown-menu">

            </ul>
          </li>
        </ul>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <!-- user_menu -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          {{{ output.search_box_icon }}}
          
          <!-- navbar_plugin_output : 'message', 'notifications' and 'chat sidebar' toggles -->
          {{{ output.navbar_plugin_output }}}
          
          {{{ output.user_menu }}}

          {{# cansignup }}
          <li class="nav-item">
            <a href="{{signupurl}}" class="nav-link"><i class="icon wb-user-add"></i> {{#str}}startsignup{{/str}}</a>
          </li>
          {{/ cansignup }}

          {{{ output.navbar_plugin_output_custom_icons }}}
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->

      <!-- Site Navbar Seach -->
        {{{ output.search_box }}}
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  {{{ output.showLicenseNotice }}}