{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_remui/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid {{loginlayout}}">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12 h-100" aria-label="{{#str}}content{{/str}}">
                <div class="login-wrapper">
                    <div class="login-container">
                    {{{ output.main_content }}}
                    </div>
                </div>
                {{#hasdesc}}
                <div class="login-desc">
                    {{#logopos}}
                        {{# output.should_display_navbar_logo }}
                            <a class="login-brand-wrapper login-{{logoorsitename}}" href="#" aria-label="{{ sitename }} - {{#str}}brandname, theme_remui{{/str}}">
                                <img src="{{ logourl }}" class="login-brand-logo logo">
                                <img src="{{ logominiurl }}" class="login-brand-logo logomini">
                                <span class="login-brand-logo icononly"><i class="fa fa-{{siteicon}}"></i> {{{ sitename }}}</span>
                                <span class="login-brand-logo font-weight-bold iconsitename">
                                    <i class="fa fa-{{siteicon}}"></i>&nbsp;
                                    {{{ sitename }}}
                                </span>
                            </a>
                        {{/ output.should_display_navbar_logo }}
                        {{^ output.should_display_navbar_logo }}
                            {{{ sitename }}}
                        {{/ output.should_display_navbar_logo }}
                    {{/logopos}}
                    {{{sitedesc}}}
                </div>
                {{/hasdesc}}
                </section>
            </div>
        </div>
    </div>
    {{> theme_remui/footer }}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_remui/loader');
require(['theme_remui/loader'], function() {
  M.util.js_complete('theme_remui/loader');
});
{{/js}}
