{{# slider }}
<section id="edwiser-slider">
        {{# isslider }}
        <!-- slider -->
        <div class="carousel slide" id="edwiser-carousel-old" data-interval="{{ slideinterval }}" data-ride="carousel">
            <ol class="carousel-indicators">
                {{# slides }}
                    <li data-slide-to="{{count}}" data-target="#edwiser-carousel-old" class="{{#active}}active{{/active}}"></li>
                {{/ slides}}
            </ol>

            <div class="carousel-inner" role="listbox">
                {{# slides }}
                    <div class="carousel-item align-items-center {{#active}}active{{/active}}">
                    <!-- <div id="banner-img-slider" class="col-12" style="background-image:url({{ img }}); background-position: center; background-size: cover; background-repeat:no-repeat; min-height:500px;"></div> -->
                        <img id="banner-img-slider" class="d-block img-fluid w-p100" alt="Image {{count}}" src="{{ img }}" data-holder-rendered="true">
                    <div class="carousel-caption">
                        {{{ img_txt }}}
                        {{# btn_txt }}
                        <p><a href="{{ btn_link }}" class="btn btn-primary mt-2">{{{ btn_txt }}}</a></p>
                        {{/ btn_txt }}
                    </div>
                    </div>
                {{/ slides }}

                <a class="carousel-control-prev" href="#edwiser-carousel-old" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#edwiser-carousel-old" role="button" data-slide="next">
                    <span class="carousel-control-next-icon fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- slider ends -->
        {{/ isslider }}

        {{# isimage }}
        <div class="cover card card-inverse rem-staticimage border-0">
            <img class="card-img w-full" src="{{staticimage}}" alt="Card image">
            <div class="carousel-caption cover-background centered card-img-overlay w-p75 white">
            {{{addtxt}}}
            </div>
        </div>
        {{/ isimage }}

        {{# isvideo }}
            <div class="w-p100 wdm-home-video">
                <iframe class="h-100 w-p100 border-0" src="{{ video }}?rel=0" allowfullscreen></iframe>
            </div>
        {{/ isvideo }}
</section>
{{/ slider }}