<section data-region="blocks-column" class="d-print-none page-aside" aria-label="{{#str}}blocks{{/str}}">
    {{#initrightsidebar}}
    <div class="page-aside-switch d-flex align-items-center justify-content-center">
        <i class="fa fa-angle-left icon m-0 d-flex align-items-center justify-content-center" aria-hidden="true">
            {{#unreadrequestcount}}
                <span class="unread-count-sidebarbutton font-size-10 count-container animation-shake position-absolute" style="top: 0px;left: -5px;">{{unreadrequestcount}}</span>
            {{/unreadrequestcount}}
        </i>
        {{^disablesidebarpinning}}<i class="fa fa-thumb-tack icon m-0 d-none align-items-center justify-content-center" title="{{#pinaside}}{{#str}}unpinsidebar, theme_remui{{/str}}{{/pinaside}}{{^pinaside}}{{#str}}pinsidebar, theme_remui{{/str}}{{/pinaside}}" aria-hidden="true"></i>{{/disablesidebarpinning}}
    </div>
    <ul class="site-sidebar-nav nav nav-tabs nav-tabs-line" role="tablist">
        {{#hasblocks}}
            <li class="nav-item text-center">
                <a class="nav-link active show py-3" data-toggle="tab" href="#sidebar-blocks" role="tab" aria-selected="false">
                <i class="icon fa fa-th-large" aria-hidden="true"></i>
                </a>
            </li>
        {{/hasblocks}}
        {{{ messagetoggle }}}
        {{#usercanmanage}}
            <li class="nav-item text-center">
                <a class="nav-link py-3 {{^hasblocks}}{{^messagetoggle}}active show{{/messagetoggle}}{{/hasblocks}}" data-toggle="tab" href="#sidebar-settings" role="tab" aria-selected="false">
                <i class="icon fa fa-paint-brush" aria-hidden="true"></i>
                </a>
            </li>
        {{/usercanmanage}}
    </ul>
    <div class="site-sidebar-tab-content tab-content">
        {{#hasblocks}}
            <div class="tab-pane fade p-0 active show" id="sidebar-blocks">
                {{{ sidepreblocks }}}
            </div>
        {{/hasblocks}}
        {{#messagedrawer}}
            <div class="tab-pane fade p-0 {{^hasblocks}}active show{{/hasblocks}}" id="sidebar-message">
                {{{ messagedrawer }}}
            </div>
        {{/messagedrawer}}
        {{#usercanmanage}}
            <div class="tab-pane fade p-0 {{^hasblocks}}{{^messagetoggle}}active show{{/messagetoggle}}{{/hasblocks}}" id="sidebar-settings">
                <div class="site-skintools px-4 py-2">
                    <!-- navbr type -->
                    <h5 class="site-skintools-title">{{#str}} navbartype, theme_remui {{/str}}</h5>
                    <div id="skintoolsNavbar">
                        <div class="checkbox-custom checkbox-inverse">
                            <input id="skintoolsNavbar-inverse" name="navbartype" type="checkbox" value="navbar-inverse" {{# navbarinverse }} checked {{/ navbarinverse }}>
                            <label for="skintoolsNavbar-inverse">{{#str}} applysitecolor, theme_remui {{/str}}</label>
                        </div>
                    </div>

                    <!-- sidebar color -->
                    <div id="skintoolsSidebar">
                        <h5 class="site-skintools-title">{{#str}} sidebarcolor, theme_remui {{/str}}</h5>
                        <div class="radio-custom radio-dark">
                            <input id="skintoolsSidebar-dark" type="radio" name="skintoolsSidebar" value="" checked>
                            <label for="skintoolsSidebar-dark">{{# str }} dark, theme_remui {{/ str }}</label>
                        </div>
                        <div class="radio-custom radio-light">
                            <input id="skintoolsSidebar-light" type="radio" name="skintoolsSidebar" value="site-menubar-light" {{# sidebarcolor }} checked {{/sidebarcolor }}>
                            <label for="skintoolsSidebar-light">{{# str }} light, theme_remui {{/ str }}</label>
                        </div>
                    </div>

                    <!-- site color -->
                    <div id="skintoolsSiteColor">
                        <h5 class="site-skintools-title">{{#str}} sitecolor, theme_remui {{/str}}</h5>
                        <div class="radio-custom radio-primary">
                            <input id="skintoolsNavbar-primary" name="skintoolsNavbar" type="radio" value="primary" {{# primary }} checked {{/ primary }}>
                            <label for="skintoolsNavbar-primary">{{# str }} primary, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-brown">
                            <input id="skintoolsNavbar-brown" name="skintoolsNavbar" type="radio" value="brown" {{# brown }} checked {{/ brown }}>
                            <label for="skintoolsNavbar-brown">{{# str }} brown, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-cyan">
                            <input id="skintoolsNavbar-cyan" name="skintoolsNavbar" type="radio" value="cyan" {{# cyan }} checked {{/ cyan }}>
                            <label for="skintoolsNavbar-cyan">{{# str }} cyan, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-green">
                            <input id="skintoolsNavbar-green" name="skintoolsNavbar" type="radio" value="green" {{# green }} checked {{/ green }}>
                            <label for="skintoolsNavbar-green">{{# str }} green, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-grey">
                            <input id="skintoolsNavbar-grey" name="skintoolsNavbar" type="radio" value="grey" {{# grey }} checked {{/ grey }}>
                            <label for="skintoolsNavbar-grey">{{# str }} grey, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-indigo">
                            <input id="skintoolsNavbar-indigo" name="skintoolsNavbar" type="radio" value="indigo" {{# indigo }} checked {{/ indigo }}>
                            <label for="skintoolsNavbar-indigo">{{# str }} indigo, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-orange">
                            <input id="skintoolsNavbar-orange" name="skintoolsNavbar" type="radio" value="orange" {{# orange }} checked {{/ orange }}>
                            <label for="skintoolsNavbar-orange">{{# str }} orange, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-pink">
                            <input id="skintoolsNavbar-pink" name="skintoolsNavbar" type="radio" value="pink" {{# pink }} checked {{/ pink }}>
                            <label for="skintoolsNavbar-pink">{{# str }} pink, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-purple">
                            <input id="skintoolsNavbar-purple" name="skintoolsNavbar" type="radio" value="purple" {{# purple }} checked {{/ purple }}>
                            <label for="skintoolsNavbar-purple">{{# str }} purple, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-red">
                            <input id="skintoolsNavbar-red" name="skintoolsNavbar" type="radio" value="red" {{# red }} checked {{/ red }}>
                            <label for="skintoolsNavbar-red">{{# str }} red, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-teal">
                            <input id="skintoolsNavbar-teal" name="skintoolsNavbar" type="radio" value="teal" {{# teal }} checked {{/ teal }}>
                            <label for="skintoolsNavbar-teal">{{# str }} teal, theme_remui {{/ str}}</label>
                        </div>
                        <div class="radio-custom radio-customcolor">
                            <input id="skintoolsNavbar-customcolor" name="skintoolsNavbar" type="radio" value="customcolor" {{# customcolor }} checked {{/ customcolor }}>
                            <label for="skintoolsNavbar-customcolor">{{# str }} custom-color, theme_remui {{/ str}}</label>
                        </div>
                    </div>

                    <!-- site color picker-->
                    <form method="post" class="text-center">
                        <input type="color" id="{{uniqid}}" data-choosetext="{{# str }} choose {{/ str }}" data-canceltext="{{# str }} cancel {{/ str }}" name="customcolor" class="site-colorpicker d-none" hidden style="display:none;" value="{{^ customcolor }}#62a8ea{{/ customcolor }}{{# customcolor }}#{{ sitecolorhex }}{{/ customcolor }}">
                        <input type="hidden" name="choosen-color">
                        <input type="hidden" name="sesskey" value="{{ sesskey }}">
                        <input type="submit" name="applysitewidecolor" class="btn btn-primary my-3" value="{{# str }} applysitewide, theme_remui {{/ str }}">
                    </form>
                </div>
            </div>
        {{/usercanmanage}}
    </div>
    {{/initrightsidebar}}
</section>
{{#js}}
require(['jquery', 'theme_remui/color-picker'], function($) {
    $('#{{uniqid}}').spectrum({
        color: '#{{^ customcolor }}62a8ea{{/ customcolor }}{{# customcolor }}{{ sitecolorhex }}{{/ customcolor }}',
        cancelText: $('#{{uniqid}}').data('canceltext'),
        chooseText: $('#{{uniqid}}').data('choosetext'),
        showInput: true,
        preferredFormat: "hex",
        containerClassName: 'border-secondary',
        replacerClassName: '{{^ customcolor }} d-none {{/ customcolor }} site-colorpicker-custom w-full bg-white border-0'
    });
});
{{/js}}
