{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    Edwiser RemUI 
    @package    theme_remui
    @copyright  (c) 2018 WisdmLabs (https://wisdmlabs.com/)
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 
}}
{{!
    @template theme_remui/secure

    Boost secure layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page

      Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
</head>

<body {{{ bodyattributes }}}>

    <div class="edwiser-notice position-fixed mt-10" style="display: none; z-index: 1500;left: 50%;transform: translateX(-50%);" role="alert">
    </div>

    {{{ output.standard_top_of_body_html }}}

    {{>theme_remui/header-secure}}

    <div class="page">
        <!-- blocks aside -->
        {{#hasblocks}}
        <div class="page-aside {{#pin_aside}} opencustom {{/pin_aside}}">
            <div class="page-aside-switch d-lg-none">
                <i class="wb-chevron-left" aria-hidden="true"></i>
                <i class="wb-chevron-right" aria-hidden="true"></i>
            </div>
            <div class="page-aside-switch-lg d-none d-lg-inline">
                <i class="wb-chevron-left" aria-hidden="true"></i>
                {{#hasblocks}}
                    <div class="page-aside-pin">
                        <i class="fa fa-thumb-tack"  title="{{#pin_aside}}{{#str}}unpinsidebar, theme_remui{{/str}}{{/pin_aside}}{{^pin_aside}}{{#str}}pinsidebar, theme_remui{{/str}}{{/pin_aside}}" aria-hidden="true"></i>
                    </div>
                {{/hasblocks}}
            </div>
            <div class="page-aside-inner page-aside-scroll">
                <div data-role="container">
                    <div data-role="content">
                    {{{ sidepreblocks }}}
                    </div>
                </div>
            </div>
            <!---page-aside-inner-->
        </div>
        {{/hasblocks}}
        <!-- end blocks aside -->

        <div class="page-main">
        <div class="container">
            <div class="page-header">
                {{{ output.page_heading }}}
            </div>

            <div class="page-content">
            <div class="panel">
                <div class="panel-body">
                <div id="region-main-box">
                    <section id="region-main" class="float-none">
                        {{{ output.course_content_header }}}
                        {{{ output.main_content }}}
                        {{{ output.course_content_footer }}}
                    </section>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_remui/footer }}
</body>
</html>
{{#js}}
require(['theme_remui/loader', 'theme_remui/TimeCircles'], function (loader, TimeCircles) {
    Breakpoints();

    // quiz time circles for timed quizzes
    jQuery("#quiztimer").TimeCircles({
        time: {
            Days: {
                show: false
            },
            Hours: {
                color: "#3c8dbc"
            },
            Minutes: {
                color: "#00a65a"
            },
            Seconds: {
                color: "#f56954"
            }
        },
        bg_width: 0.9,
        fg_width: 0.1,
        circle_bg_color: "#797D82",
        number_size: 0.24,
        text_size: 0.11,
        refresh_interval: 1,
        animation_interval: "ticks"
    }).addListener(quizTimeEllapsed);

    // listner for quiz timer
    function quizTimeEllapsed(unit, value, total) {
        if (total <= 0) {
            jQuery(this).fadeOut('medium').replaceWith('<div style="text-align: center; background: rgba(0, 0, 0, 0.13); border-radius: 5px; height: 80px; line-height: 80px; font-size: 18px; color: red;">' + M.util.get_string('timesup', 'quiz') + '</div>');
        }
    }
});
{{/js}}
