{{# social }}
<div class="py-2 px-1 social-links {{^hassocial}}invisible{{/hassocial}}">
    <h4 class="card-title mt-1 font-weight-normal font-size-18">{{# str }} followus, theme_remui {{/ str }}</h4>
    <p class="card-text">
        <a href="{{ facebook }}" class="{{^ facebook }}d-none{{/ facebook }} remuiicon btn btn-icon btn-round social-facebook m-1">
            <i class="icon fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="{{ twitter }}" class="{{^ twitter }}d-none{{/ twitter }} remuiicon btn btn-icon btn-round social-twitter m-1">
            <i class="icon fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="{{ quora }}" class="{{^ quora }}d-none{{/ quora }} remuiicon btn btn-icon btn-round social-quora m-1">
            <i class="icon fa fa-quora" aria-hidden="true"></i>
        </a>
        <a href="{{ linkedin }}" class="{{^ linkedin }}d-none{{/ linkedin }} remuiicon btn btn-icon btn-round social-linkedin m-1">
            <i class="icon fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="{{ gplus }}" class="{{^ gplus }}d-none{{/ gplus }} remuiicon btn btn-icon btn-round social-google-plus m-1">
            <i class="icon fa fa-google-plus" aria-hidden="true"></i>
        </a>
        <a href="{{ instagram }}" class="{{^ instagram }}d-none{{/ instagram }} remuiicon btn btn-icon btn-round social-instagram m-1">
            <i class="icon fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="{{ youtube }}" class="{{^ youtube }}d-none{{/ youtube }} remuiicon btn btn-icon btn-round social-youtube m-1">
            <i class="icon fa fa-youtube" aria-hidden="true"></i>
        </a>
        <a href="{{ pinterest }}" class="{{^ pinterest }}d-none{{/ pinterest }} remuiicon btn btn-icon btn-round social-pinterest m-1">
            <i class="icon fa fa-pinterest" aria-hidden="true"></i>
        </a>
    </p>
</div>
{{/ social }}
