    {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/main

    This template renders the main content area for the myoverview block.

    Example context (json):
    {}
}}

<div id="block-myoverview-{{uniqid}}" class="block-myoverview row" data-region="myoverview">
    {{#coursesview.hascourses}}
    {{! Courses Completion Status and Overview }}
    <div class = "col-sm-12 col-md-12 align-items-center mb-15">
        <div class = "bg-white py-15">
            {{#coursesview}}
            {{> block_myoverview/courses-view }}
            {{/coursesview}}
        </div>
    </div>
    {{/coursesview.hascourses}}
    <!-- Notifications Section -->
    {{# latestdashboard }}
        <!-- Welcome Message and Achivements -->
        <div class = "col-sm-12 col-md-12 col-lg-7 justify-content-center pr-15">
            {{> block_myoverview/welcome-section}}
        </div>
        <!-- Upcoming Notifications -->
        <div id= "new-upcoming-block"class = "col-sm-12 col-md-12 col-lg-5  justify-content-center">
            {{> block_myoverview/timeline-view }}
        </div>
    {{/ latestdashboard }}
    {{^ latestdashboard }}
        <div class = "col-sm-12 mt-20 col-md-12 col-lg-12  justify-content-center mb-15">
            {{> block_myoverview/timeline-view }}
        </div>
    {{/ latestdashboard }}
</div>