.block_integrityadvocate .footer {
    margin-top: .5em;
}

.block_integrityadvocate .content {
    text-align: left;
}
.dir-rtl .block_integrityadvocate .content {
    text-align: right;
}

.block_integrityadvocate h3 {
    margin-bottom: 0;
}

.block_integrityadvocate .overviewButton {
    margin: 10px;
    text-align: center;
}

#page-blocks-integrityadvocate-overview .buttons {
    margin-top: 20px;
    text-align: left;
}
.dir-rtl #page-blocks-integrityadvocate-overview .buttons {
    text-align: right;
}

#page-blocks-integrityadvocate-overview .buttons label {
    display: inline;
    margin: 0 5px 0 10px;
}
.dir-rtl #page-blocks-integrityadvocate-overview .buttons label {
    margin: 0 10px 0 5px;
}

.block_integrityadvocate_modulelist_form {
    display: inline;
}

.block_integrityadvocate_status_valid {
    color: #008000;
}
.block_integrityadvocate_status_invalid_id,
.block_integrityadvocate_status_invalid_rules {
    color: #f00;
}
.block_integrityadvocate_overview_participant_summary_status,
.block_integrityadvocate_overview_participant_summary_start,
.block_integrityadvocate_resubmit_link {
    margin-bottom: 5px;
    display: block;
}
.block_integrityadvocate_overview_participant_summary_text {
    float: left;
}
.block_integrityadvocate_overview_participant_summary_img_div {
    float: right;
}
.block_integrityadvocate_overview_participant_summary_img img {
    max-width: 95%;
    display: block;
    margin: 5px 0;
}
.block_integrityadvocate_overview_participant_summary_img_invalid img {
    border: solid 1px #f00;
}
.block_integrityadvocate_overview_flags_table,
.block_integrityadvocate_overview_participant_summary_table {
    width: 100%;
}
.block_integrityadvocate_overview_flags_td_dataid {
    display: none;
}
.block_integrityadvocate_overview_flags_details {
    margin-top: 0.5em;
}
.block_integrityadvocate_overview_flags_details_title,
.block_integrityadvocate_overview_flags_errorcode_title {
    font-style: italic;
    display: inline;
}
.block_integrityadvocate_overview_flags_errorcode_number {
    font-style: italic;
    display: inline;
}
.block_integrityadvocate_overview_flags_errorcode_text {
    display: inline;
}
.block_integrityadvocate_overview_flag_img img {
    max-width: 95%;
    display: block;
    margin: 5px 0;
    border: solid 1px #f00;
}
.block_integrityadvocate_overview_btn_view_details {
    margin: 10px;
}
.block_integrityadvocate_overview_user_userinfo,
.block_integrityadvocate_overview_module_moduleinfo {
    padding-bottom: 1em;
}
.block_integrityadvocate_overview_module_moduleinfo img {
    margin-right: 0.5em;
}

.block_integrityadvocate_table {
    display: table;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 2em;
    border-top: 1em solid lightgrey;
}
.block_integrityadvocate_overview_session_div {
    padding-bottom: 0.25em;
}
.block_integrityadvocate_overview_flags_div {
    border-top: 1px dashed lightgrey;
}
.block_integrityadvocate_tableheader {
    font-weight: bold;
}
.block_integrityadvocate_tablerow {
    display: table-row;
}
.block_integrityadvocate_tablelabel {
    display: table-cell;
    padding-right: 0.5em;
    vertical-align: top;
}
.block_integrityadvocate_tablevalue {
    display: table-cell;
}
.block_integrityadvocate_tablelabel:after {
    content: ":";
}
.block_integrityadvocate_overview_flag_type {
    background-color: #dcdcdc;
}
.block_integrityadvocate_overview_participant_summary_status .icon {
    font-size: 1.5em;
}
.block_integrityadvocate_plugininfo {
    font-size: 0.5em;
}
.block_integrityadvocate_modulelist_div_title {
    padding-top:1em;
}