<div id="heading_{{name}}" class="heading-wrapper">
    <div class="p-3 m-0 mb-1 bg-white heading-toggle border-top border-bottom">
        <i class="fa fa-caret-right d-inline" aria-hidden="true"></i>
        <h5 class="d-inline">{{label}}</h5>
    </div>
    <div class="heading-content" style="{{#collapsed}}display: none;{{/collapsed}}" >
