{{#inputs}}
<div id="fitem_id_{{name}}" class="form-group row fitem {{classes}}">
    <div class="col-md-3 pr-5">
        <label class="col-form-label d-inline " for="id_{{name}}">
            {{label}}
        </label>
        {{{help}}}
    </div>
    <div class="input-reset btn" title="{{#str}}resetdesc, theme_remui{{/str}}" data-default="{{default}}">
        <i class="fa fa-undo"></i>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="range" id="yui_3_17_2_1_1606564568615_1166">
        <input type="range" class="form-range w-100 " name="{{name}}" id="id_{{name}}" value="{{default}}" {{{options}}}>
        <label>{{#str}} typevalue, core_grades {{/str}}: <span id="id_{{name}}-range-value">{{default}}</span></label>
        <div class="form-control-feedback invalid-feedback" id="id_error_{{name}}">
        </div>
    </div>
</div>
{{/inputs}}
