{{#buttons}}
    <button {{#ele_id}}id="{{ele_id}}"{{/ele_id}} type="button" class="hidden-sm-down btn btn-floating d-flex align-items-center justify-content-center btns-animate animate-1 {{extraclasses}}" {{#bgcolor}}style="background: {{bgcolor}}!important;"{{/bgcolor}} data-toggle="tooltip" data-original-title="{{title}}" data-placement="left" data-trigger="hover">
        <i class="{{icon}}" aria-hidden="true"></i>
    </button>
{{/buttons}}