{{#pagegroups}}
<div class="page-cards-group">
    <h4 class="page-group-category page-group-category__heading">{{{grouptitle}}}</h4>
    <div class="row p-0 m-0">
        {{#pages}}
        <div class="col-md-3 epb-pcard__container" data-page-id="{{id}}">
            <div class="epb-pcard">
                <div class="epb-pcard__img">
                    <img src="{{{thumbnail}}}">
                </div>
                <div class="epb-pcard__body">
                    <div class="epb-pcard__preview d-flex flex-column align-items-center">
                        <h4 class="page-name">{{{label}}}</h4>
                        <div class="btn btn-outline-color btn-preview" data-page-id="{{id}}">
                            {{#str}}preview, local_edwiserpagebuilder{{/str}}
                        </div>

                        {{#updateavailable}}
                        <button class="btn btn-outline-color update-content mt-2" data-page-id="{{id}}" title="{{#str}}updateblockcontent, local_edwiserpagebuilder{{/str}}" data-blockname="{{title}}">
                            <i class="fa fa-download"></i>
                        </button>
                        {{/updateavailable}}

                        <div class="btn btn-delete font-size-20" data-page-id="{{id}}">
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/pages}}
    </div>
</div>
{{/pagegroups}}
