/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.bg-dark {
    background-color: #323D5A !important;
}

.username{
  color: white;
  font-weight: bold;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-bottom: 30px;
}
h1, h2, h3, h4, h5, h6, p {
  letter-spacing: -.025em;
}
.m20 {
  margin-top: 20px;
}
.m30 {
  margin-top: 30px;
}
.m50 {
  margin-top: 50px;
}
.m70 {
  margin-top: 70px;
}
.m90 {
  margin-top: 90px;
}
.clearfix{
  clear: both;
}
p {
  margin-bottom: 20px;
}
.btn-secondary {
  background-color: #323D5A;
}