{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    Edwiser RemUI 
    @package    theme_remui
    @copyright  (c) 2018 WisdmLabs (https://wisdmlabs.com/)
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 
}}
<div class="form-group row {{#error}}has-danger{{/error}} fitem {{#advanced}}advanced{{/advanced}} {{{element.extraclasses}}}">
    <div class="col-md-3">
        {{#text}}
            <label for="{{element.id}}">
                {{{label}}}
            </label>
        {{/text}}
    </div>
    <div class="col-md-9 checkbox">
        <label>
        {{^element.hardfrozen}}
            {{^element.frozen}}
                <input type="hidden" name="{{element.name}}" value="{{element.deselectedvalue}}">
            {{/element.frozen}}
            {{#element.frozen}}
                <input type="hidden" name="{{element.name}}" value="{{element.frozenvalue}}">
            {{/element.frozen}}
        {{/element.hardfrozen}}
        <input type="checkbox"
            name="{{element.name}}"
            class="{{element.extraclasses}}"
            {{#element.selectedvalue}}
                value="{{element.selectedvalue}}"
            {{/element.selectedvalue}}
            id="{{element.id}}" {{#element.checked}}checked{{/element.checked}}
            {{#error}}
                autofocus aria-describedby="id_error_{{element.name}}"
            {{/error}}
            {{#element.frozen}}
                disabled
            {{/element.frozen}}
            {{{element.attributes}}} >
            {{#text}}
                {{{.}}}
            {{/text}}
            {{^text}}
                {{{label}}}
            {{/text}}
        </label>
        <span class="text-nowrap">
            {{#advanced}}<abbr class="initialism text-info" title="{{#str}}advanced{{/str}}">!</abbr>{{/advanced}}
            {{{helpbutton}}}
        </span>
        <div class="form-control-feedback" id="id_error_{{element.name}}" {{^error}} style="display: none;"{{/error}}>
            {{{error}}}
        </div>
    </div>
</div>
{{^element.frozen}}
{{#js}}
require(['theme_remui/form-display-errors'], function(module) {
    module.enhance({{#quote}}{{element.id}}{{/quote}});
});
{{/js}}
{{/element.frozen}}
