<a class="btn btn-link p-0" role="button"
    data-container="body" data-toggle="popover"
    data-placement="{{#ltr}}right{{/ltr}}{{^ltr}}left{{/ltr}}" data-content="{{text}}"
    data-html="true" tabindex="0">
    {{#pix}}help, core, {{{alt}}}{{/pix}}
</a>
