.editor_atto_content.form-control {
    width: 100% !important;
}

#adminsettings .form-control[size] {
    width: 100%;
}

.form-autocomplete-downarrow{
    position: relative;
    top: 0.2em;
    right: 0.5em;
}