<div class="menu-item py-2" data-text="{{text}}" data-address="{{address}}">
    <a href="#">{{text}}</a>
    <div class="menu-actions">
        <button type="button" title="{{#str}} customizermenuedit, theme_remui {{/str}}" class="btn action-edit">
            <i class="fa fa-pencil"></i>
        </button>
        <button type="button" title="{{#str}} customizermenumoveup, theme_remui {{/str}}" class="btn action-move-up">
            <i class="fa fa-arrow-up"></i>
        </button>
        <button type="button" title="{{#str}} customizermenuemovedown, theme_remui {{/str}}" class="btn action-move-down">
            <i class="fa fa-arrow-down"></i>
        </button>
        <button type="button" title="{{#str}} customizermenuedelete, theme_remui {{/str}}" class="btn action-delete">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
