<div class="customizer-menu-item-form">
    <label>{{#str}} menutext, theme_remui {{/str}}</label>
    <input type="text" class="form-control menu-text" value="{{text}}">
    <label>{{#str}} menuaddress, theme_remui {{/str}}</label>
    <input type="text" class="form-control menu-address" value="{{address}}">
</div>
